body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h5,
h6 {
  margin: 0.5rem;
}

li {
  display: inline-block;
  list-style-type: none;
  padding: 0.1rem;
  margin: 0.1rem;
  font-weight: bolder;
}

a {
  color: dodgerblue;
  margin: 0.2rem 2.5rem;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgb(18, 95, 173);
}
.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem 3rem;
}

.flex-row {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.articleCard {
  text-align: left;
  padding: 1rem;
  border: 2px solid dodgerblue;
  border-radius: 0.3rem;
  display: inline-block;
  width: 25rem;
  margin: 1rem;
}

.articleTopic {
  text-align: right;
  background-color: antiquewhite;
  padding: 0.3rem;
  border-radius: 50px;
}

.articleDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article_card_footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.article_card_footer > p {
  margin: 0.3rem;
}

.centerArticle {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-transform: capitalize;
}

.articleCard {
  background: #fff;
  margin-top: 20px;
  margin-right: 10px;
  padding: 20px 20px 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 10px;
}

.articleCard:hover {
  box-shadow: 0 2px 4px rgba(#000, 0.2), 0 4px 8px rgba(#000, 0.2);
}

@media only screen and (max-width: 600px) {
  li {
    max-width: 0.5rem;
  }

  .articles {
    padding: 1rem;
    margin: 1rem;
  }

  .articleCard {
    display: block;
    max-width: 15rem;
  }
}
